language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8b150eaf525c280ec2ac
    on_success: change
    on_failure: always
    on_start: never
