language: node_js
os:
  - linux
  - osx
node_js:
  - "10"
matrix:
  exclude:
    node_js: "10"
script:
  - node --version
  - npm --version
  - npm run ci
  # - npm run build:standalone
  # - npm run build:installer
notifications:
  email: false
deploy:
  - provider: script
    script: npm run release
    skip_cleanup: true
    on:
      tags: true
      condition: "$TRAVIS_TAG =~ ^v?[[:digit:]]+\\.[[:digit:]]+\\.[[:digit:]]+"
      repo: balena-io/balena-cli
