# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

image: Visual Studio 2017

init:
  - git config --global core.autocrlf input

cache:
  - C:\Users\appveyor\.node-gyp
  - '%AppData%\npm-cache'

matrix:
  fast_finish: true

# what combinations to test
environment:
  matrix:
    - nodejs_version: 10

install:
  - ps: Install-Product node $env:nodejs_version x64
  - set PATH=%APPDATA%\npm;%PATH%
  - npm config set python 'C:\Python27\python.exe'
  - npm --version
  # - npm install

build: off
test: off
deploy: off

test_script:
  - node --version
  - npm --version
  # - npm test

deploy_script:
  - node --version
  - npm --version
  # - npm run build:standalone
  # - npm run build:installer
  # - IF "%APPVEYOR_REPO_TAG%" == "true" (npm run release)
  # - IF NOT "%APPVEYOR_REPO_TAG%" == "true" (echo 'Not tagged, skipping deploy')
