<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Resin CLI - Error</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./static/style.css" inline>
</head>
<body>
	<div class="center">
		<img class="icon" src="./static/images/sad.png" inline>
		<h1>Something went wrong</h1>
		<p>You couldn't login to the Resin CLI for some reason</p>
		<br>
		<br>
		<a href="https://forums.resin.io/" class="button danger">Get help in our forums</a>
	</div>
</body>
</html>
