<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Resin CLI - Success</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./static/style.css" inline>
</head>
<body>
	<div class="center">
		<img class="icon" src="./static/images/happy.png" inline>
		<h1>Success!</h1>
		<p>You successfully logged in the Resin CLI</p>
		<br>
		<br>
		<a href="<%= dashboardUrl %>" class="button normal">Go to the dashboard</a>
	</div>
</body>
</html>
