<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>balena CLI - Success</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./static/style.css" inline>
</head>
<body>
	<div class="center">
		<img class="icon" src="./static/images/happy.png" inline>
		<h1>Success!</h1>
		<br>
		<p>The balena CLI login was successful.</p>
		<p>You may now close this page and return to the command prompt.</p>
	</div>
</body>
</html>
